@import 'mixins';

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 0.1em;
  cursor: pointer;

  & :hover {
    text-decoration: underline;
  }
  @include font_size(sm);
}
