@import "~bootstrap/scss/bootstrap-grid";
@import 'mixins';
@import 'variables';

:host {
  @include flex();
  width: 100%;
  height: 100%;
  margin: 0 0.1em;
  text-align: center;
  cursor: pointer;
  transition: background-color $standard-transition;

  & :hover {
    text-decoration: underline;
  }

  @include font_size(sm);

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}
