h1,
h2,
h3 {
  font-weight: 300;
}

h1,
h2,
h3,
p{
  margin-top: 0;
  margin-bottom: 0;
}


// xs
@media only screen and (max-width: 599px) {
  h1 {
    font-size: 1.1em;
  }

  h2 {
    font-size: 0.7em;
    font-weight: 200;
  }

  p {
    font-size: 0.6em;
  }
}

// sm
@media only screen and (min-width: 600px) and (max-width: 959px) {
  h1 {
    font-size: 2.1em;
  }

  h2 {
    font-size: 1em;
    font-weight: 200;
  }

  p {
    font-size: 0.9em;
  }
}

// md
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.1em;
    font-weight: 200;
  }

  p {
    // font-size: 1em;
  }
}

// gt-md
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 1.8em;
    font-weight: 200;
  }

  p {
    // font-size: 1em;
  }
}
