@import 'variables';
@import "~bootstrap/scss/bootstrap-grid";

@mixin clearfix () {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin font_size($name: 'xs', $important: false, $scale: 1) {
  @if $important {
    font-size: $scale * map-get($font-sizes, $name) !important;
  }

  @else {
    font-size: $scale * map-get($font-sizes, $name);
  }
}

@mixin full () {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@mixin flex () {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin inset_shadow () {
  box-shadow: inset 0 0 40px 1px rgba($black, .5);
}

@mixin no_smooth_font() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
