<block>
  <panel class='screen'
         [image]="'assets/images/profile-min.JPG'">
    <h1>Masaki Ihara</h1>
    <h2>Software Engineer</h2>
  </panel>
</block>

<block class='block-body'
       id='bio'>
  <h1>Masaki Ihara</h1>
  <h2>Deep learning specialist</h2>
  <p>Did shy say mention enabled through elderly improve. As at so believe account evening behaved hearted is. House
    is
    tiled we aware. It ye greatest removing concerns an overcame appetite. Manner result square father boy behind its
    his. Their above spoke match ye mr right oh as first. Be my depending to believing perfectly concealed household.
    Point could to built no hours smile sense. </p>
</block>

<block id='projects'
       fxLayoutAlign="space-around">
  <panel class='project'
         fxFlex="33.3334"
         fxFlex.lt-md="50"
         fxFlex.xs="100"
         *ngFor="let project of projects"
         [image]="project.image"
         (click)="openLink(project.link)">
    <div> {{ project.title }} </div>
  </panel>
</block>

<block class='block-body'
       id='sns-links'>
  <sns-link class='social'
            fxFlex="30"
            fxFlex.xs='100'
            *ngFor="let social of socials"
            (click)="openLink(social.link)">
    <svg-icon [name]="social.svg"
              [svgStyle]="{ 'width.em': 3, 'margin.em' : 1.5 }"></svg-icon>
    <h2> {{ social.text }} </h2>
  </sns-link>
</block>

<block class='block-body'
       id='contact'>
  <h2>Need a deep learning software developer?</h2>
  <h3>I am actively looking for new challenges</h3>
  <a mat-stroked-button
     routerLink=".">Contact me</a>
</block>

<!-- <block class='block-body' id='footer'>
  <div></div>
</block> -->
