@import 'mixins';

:host {
  @include flex();
  width: 100%;
  max-width: 1750px;
  margin: auto;
}

#bio {
  // max-width: 900px;
  flex-direction: column;
  justify-content: start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 3em;

  @include media-breakpoint-down(sm) {
    padding: 1.5em 0;
    max-width: 80%;
  }
}

#projects {
  width: 100%;
  justify-content: start;
  align-content: flex-start;
  align-items: flex-start;
}

#sns-links {
  align-content: stretch;
  align-items: stretch;
  background-color: #fafdff;
  padding: 2em;
}

#contact {
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2em;

  h2,
  h3,
  a {
    text-align: center;
    margin: 0.5em 0;
  }
}

#footer {
  background-color: #7e0343;
  color: #fff;
}