@import './responsive';

:host {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

#bio {
  width: 100%;
  max-width: 900px;
  flex-direction: column;
  justify-content: start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}

#projects {
  width: 100%;
  justify-content: start;
  align-content: flex-start;
  align-items: flex-start;
}

#sns-links {
  align-content: stretch;
  align-items: stretch;
  background-color: #fafdff;
}

#contact {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  div, a {
    margin: 0.5em 0; 
  }
}
#footer {
  background-color: #7e0343;
  color: #fff;
}

