// xs
@media only screen and (max-width: 599px) {
  .block-body {
    padding: 1em 3.5em;
  }
}

// sm
@media only screen and (min-width: 600px) and (max-width: 959px) {
  .block-body {
    padding: 1.5em 7.5em;
  }
}

// md
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .block-body {
    padding: 3em 10em;
  }
}

// gt-md
@media only screen and (min-width: 1280px) {
  .block-body {
    padding: 3em 10em;
  }
}
