// @import './responsive';
@import 'variables';
@import 'mixins';
@import './components/index';

:host {
  @include flex();
  width: 100%;
  background-size: cover;
  background-color: scheme(1);
  background-position: center center;

  @include media-breakpoint-up(lg) {
    min-height: 350px;
  }

  @include media-breakpoint-down(md) {
    min-height: 300px;
  }

  @include media-breakpoint-down(sm) {
    min-height: 250px;
  }

  @include media-breakpoint-down(xs) {
    min-height: 200px;
  }

  @each $color in $scheme-colors {
    $index: index($scheme-colors, $color);

    &.color_#{$index} {
      background-color: $color;
    }
  }
}

:host-context(.screen) {
    height: 100vh;
}

:host-context(.project) {
  cursor: pointer;
  position: relative;

  .veil {
    display: none;
  }

  &:before {
    content: '';
    @include full();
    background-color: rgba($black, 0);
    transition: background-color $standard-transition;
  }

  &:hover {
    &:before {
      background-color: rgba($black, .4);
    }
  }
}
