@import './responsive';
@import 'variables';
@import 'mixins';

:host {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-size: cover;
  background-position: center center;
}

.panel_info {
  z-index: 100;
  background-color: #fff;
  text-align: center;
}

:host-context(.screen) {
  width: 100%;
  height: 100vh;

  .veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-15deg, #ffffff 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 80%, white 100%);
  }

}

:host-context(.project) {
  cursor: pointer;
  position: relative;

  .veil {
    display: none;
  }

  &.project:before {
    content: '';
    @include full();
    background-color: rgba($black, 0);
    transition: background-color $standard-transition;
  }

  &.project:hover {
    &:before {
      background-color: rgba($black, .4);
    }
  }
}
